<div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true">
      <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
          
          <li class=" nav-item"><a href="#"><i class="la la-map"></i><span class="menu-title" data-i18n="nav.maps.main">Project planning and preparation</span></a>
            <ul class="menu-content">
              <li><a class="menu-item" href="#" data-i18n="nav.maps.vector_maps.main">Effectiveness index (F1)</a>
                <ul class="menu-content">
                  <li><a class="menu-item" href="#" data-i18n="nav.maps.vector_maps.jquery_mapael.main">Project identification</a>
                    <ul class="menu-content">
                      <li><a class="menu-item" href="vector-maps-mapael-basic.html" data-i18n="nav.maps.vector_maps.jquery_mapael.vector_maps_mapael_basic">Capacity estimation</a>
                      </li>
                      <li><a class="menu-item" href="vector-maps-mapael-advance.html" data-i18n="nav.maps.vector_maps.jquery_mapael.vector_maps_mapael_advance">Current safety condition</a>
                      </li>
                      <li><a class="menu-item" href="vector-maps-mapael-advance.html" data-i18n="nav.maps.vector_maps.jquery_mapael.vector_maps_mapael_advance">Current congestion condition</a>
                      </li>
                      <li><a class="menu-item" href="vector-maps-mapael-advance.html" data-i18n="nav.maps.vector_maps.jquery_mapael.vector_maps_mapael_advance">Current IRI index</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>

          <li class=" nav-item"><a href="#"><i class="la la-map"></i><span class="menu-title" data-i18n="nav.maps.main">Procurement</span></a>
            <ul class="menu-content">
              <li><a class="menu-item" href="#" data-i18n="nav.maps.vector_maps.main">Effectiveness index (F2)</a>
                <ul class="menu-content">
                  <li><a class="menu-item" href="#" data-i18n="nav.maps.vector_maps.jquery_mapael.main">P3 determination (option analysis)</a>
                    <ul class="menu-content">
                      <li><a class="menu-item" href="vector-maps-mapael-basic.html" data-i18n="nav.maps.vector_maps.jquery_mapael.vector_maps_mapael_basic">Qualitative VfM analysis, NPV calculation</a>
                      </li>
                    </ul>
                  </li>
                </ul>
                <ul class="menu-content">
                  <li><a class="menu-item" href="#" data-i18n="nav.maps.vector_maps.jquery_mapael.main">Procurement process</a>
                    <ul class="menu-content">
                      <li><a class="menu-item" href="vector-maps-mapael-basic.html" data-i18n="nav.maps.vector_maps.jquery_mapael.vector_maps_mapael_basic">PSC > PPP (bid)  >>> PPP, NPV calculation</a>
                      </li>
                      <li><a class="menu-item" href="vector-maps-mapael-basic.html" data-i18n="nav.maps.vector_maps.jquery_mapael.vector_maps_mapael_basic">PSC < PPP (bid)  >>> Traditional procurement</a>
                      </li>
                      <li><a class="menu-item" href="vector-maps-mapael-basic.html" data-i18n="nav.maps.vector_maps.jquery_mapael.vector_maps_mapael_basic">Clear output specification</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>

          <li class=" nav-item"><a href="#"><i class="la la-map"></i><span class="menu-title" data-i18n="nav.maps.main">Implementation</span></a>
            <ul class="menu-content">
              <li><a class="menu-item" href="#" data-i18n="nav.maps.vector_maps.main">Productivity index (F3)</a>
                <ul class="menu-content">
                  <li><a class="menu-item" href="#" data-i18n="nav.maps.vector_maps.jquery_mapael.main">Cost variance</a>
                    <ul class="menu-content">
                      <li><a class="menu-item" href="vector-maps-mapael-basic.html" data-i18n="nav.maps.vector_maps.jquery_mapael.vector_maps_mapael_basic">On time completion</a>
                      </li>
                    </ul>
                  </li>
                </ul>
                <ul class="menu-content">
                  <li><a class="menu-item" href="#" data-i18n="nav.maps.vector_maps.jquery_mapael.main">Schedule variance</a>
                    <ul class="menu-content">
                      <li><a class="menu-item" href="vector-maps-mapael-basic.html" data-i18n="nav.maps.vector_maps.jquery_mapael.vector_maps_mapael_basic">Within the contract budget</a>
                      </li>
                    </ul>
                  </li>
                </ul>
                <ul class="menu-content">
                  <li><a class="menu-item" href="#" data-i18n="nav.maps.vector_maps.jquery_mapael.main">Change management</a>
                    <ul class="menu-content">
                      <li><a class="menu-item" href="vector-maps-mapael-basic.html" data-i18n="nav.maps.vector_maps.jquery_mapael.vector_maps_mapael_basic">Satisfaction of asset quality</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class=" nav-item"><a href="#"><i class="la la-map"></i><span class="menu-title" data-i18n="nav.maps.main">Service delivery and operations</span></a>
            <ul class="menu-content">
              <li><a class="menu-item" href="#" data-i18n="nav.maps.vector_maps.main">Efficiency index (F4)</a>
                <ul class="menu-content">
                  <li><a class="menu-item" href="#" data-i18n="nav.maps.vector_maps.jquery_mapael.main">Avg. travel speed</a>
                    <ul class="menu-content">
                      <li><a class="menu-item" href="vector-maps-mapael-basic.html" data-i18n="nav.maps.vector_maps.jquery_mapael.vector_maps_mapael_basic">Projected vs Actual</a>
                      </li>
                    </ul>
                  </li>
                </ul>
                <ul class="menu-content">
                  <li><a class="menu-item" href="#" data-i18n="nav.maps.vector_maps.jquery_mapael.main">Congestion indicator/ index</a>
                    <ul class="menu-content">
                      <li><a class="menu-item" href="vector-maps-mapael-basic.html" data-i18n="nav.maps.vector_maps.jquery_mapael.vector_maps_mapael_basic">Projected vs Actual</a>
                      </li>
                    </ul>
                  </li>
                </ul>
                <ul class="menu-content">
                  <li><a class="menu-item" href="#" data-i18n="nav.maps.vector_maps.jquery_mapael.main">Safety (Accident, Fatality, Injuries)</a>
                    <ul class="menu-content">
                      <li><a class="menu-item" href="vector-maps-mapael-basic.html" data-i18n="nav.maps.vector_maps.jquery_mapael.vector_maps_mapael_basic">Projected vs Actual</a>
                      </li>
                    </ul>
                  </li>
                </ul>

                <ul class="menu-content">
                  <li><a class="menu-item" href="#" data-i18n="nav.maps.vector_maps.jquery_mapael.main">Environment ( Emission, Noise)</a>
                    <ul class="menu-content">
                      <li><a class="menu-item" href="vector-maps-mapael-basic.html" data-i18n="nav.maps.vector_maps.jquery_mapael.vector_maps_mapael_basic">Projected vs Actual</a>
                      </li>
                    </ul>
                  </li>
                </ul>

                <ul class="menu-content">
                  <li><a class="menu-item" href="#" data-i18n="nav.maps.vector_maps.jquery_mapael.main">Level of service (smoothness etc.)</a>
                    <ul class="menu-content">
                      <li><a class="menu-item" href="vector-maps-mapael-basic.html" data-i18n="nav.maps.vector_maps.jquery_mapael.vector_maps_mapael_basic">Maintain at below or greater? IRI ≤ ?</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
            <ul class="menu-content">
              <li><a class="menu-item" href="#" data-i18n="nav.maps.vector_maps.main">Economic indicators (F5)</a>
                <ul class="menu-content">
                  <li><a class="menu-item" href="#" data-i18n="nav.maps.vector_maps.jquery_mapael.main">Traffic volume</a>
                    <ul class="menu-content">
                      <li><a class="menu-item" href="vector-maps-mapael-basic.html" data-i18n="nav.maps.vector_maps.jquery_mapael.vector_maps_mapael_basic">Projected vs Actual</a>
                      </li>
                    </ul>
                  </li>
                </ul>
                <ul class="menu-content">
                  <li><a class="menu-item" href="#" data-i18n="nav.maps.vector_maps.jquery_mapael.main">User cost</a>
                    <ul class="menu-content">
                      <li><a class="menu-item" href="vector-maps-mapael-basic.html" data-i18n="nav.maps.vector_maps.jquery_mapael.vector_maps_mapael_basic">Projected vs Actual</a>
                      </li>
                    </ul>
                  </li>
                </ul>
                <ul class="menu-content">
                  <li><a class="menu-item" href="#" data-i18n="nav.maps.vector_maps.jquery_mapael.main">Revenue</a>
                    <ul class="menu-content">
                      <li><a class="menu-item" href="vector-maps-mapael-basic.html" data-i18n="nav.maps.vector_maps.jquery_mapael.vector_maps_mapael_basic">Projected vs Actual</a>
                      </li>
                    </ul>
                  </li>
                </ul>

                <ul class="menu-content">
                  <li><a class="menu-item" href="#" data-i18n="nav.maps.vector_maps.jquery_mapael.main">Annual depreciation </a>
                    <ul class="menu-content">
                      <li><a class="menu-item" href="vector-maps-mapael-basic.html" data-i18n="nav.maps.vector_maps.jquery_mapael.vector_maps_mapael_basic">Projected vs Actual</a>
                      </li>
                    </ul>
                  </li>
                </ul>

                <ul class="menu-content">
                  <li><a class="menu-item" href="#" data-i18n="nav.maps.vector_maps.jquery_mapael.main">Internal Rate of Return ( Equity and project )</a>
                    <ul class="menu-content">
                      <li><a class="menu-item" href="vector-maps-mapael-basic.html" data-i18n="nav.maps.vector_maps.jquery_mapael.vector_maps_mapael_basic">Value analysis</a>
                      </li>
                    </ul>
                  </li>
                </ul>
                <ul class="menu-content">
                  <li><a class="menu-item" href="#" data-i18n="nav.maps.vector_maps.jquery_mapael.main">Life Coverage Ratio ( project and loan)</a>
                    <ul class="menu-content">
                      <li><a class="menu-item" href="vector-maps-mapael-basic.html" data-i18n="nav.maps.vector_maps.jquery_mapael.vector_maps_mapael_basic">Value analysis</a>
                      </li>
                    </ul>
                  </li>
                </ul>
                <ul class="menu-content">
                  <li><a class="menu-item" href="#" data-i18n="nav.maps.vector_maps.jquery_mapael.main">Annual Debt Service Coverage Ratio</a>
                    <ul class="menu-content">
                      <li><a class="menu-item" href="vector-maps-mapael-basic.html" data-i18n="nav.maps.vector_maps.jquery_mapael.vector_maps_mapael_basic">Value analysis</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>

            <ul class="menu-content">
              <li><a class="menu-item" href="#" data-i18n="nav.maps.vector_maps.main">Equity indicators (F6)</a>
                <ul class="menu-content">
                  <li><a class="menu-item" href="#" data-i18n="nav.maps.vector_maps.jquery_mapael.main">Stakeholder Management</a>
                    <ul class="menu-content">
                      <li><a class="menu-item" href="vector-maps-mapael-basic.html" data-i18n="nav.maps.vector_maps.jquery_mapael.vector_maps_mapael_basic">The satisfaction level of user</a>
                      </li>
                    </ul>
                    <ul class="menu-content">
                      <li><a class="menu-item" href="vector-maps-mapael-basic.html" data-i18n="nav.maps.vector_maps.jquery_mapael.vector_maps_mapael_basic">The satisfaction level of government </a>
                      </li>
                    </ul>
                    <ul class="menu-content">
                      <li><a class="menu-item" href="vector-maps-mapael-basic.html" data-i18n="nav.maps.vector_maps.jquery_mapael.vector_maps_mapael_basic">The satisfaction level of social capital</a>
                      </li>
                    </ul>
                  </li>
                </ul>
                
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>